# This is a .mailmap file for consolidating contact information of contributers

Ayyub Abdulrezak <yubzak@mit.edu>

Disha Kohli <dishakl@mit.edu> dishakl <24383+dishakl@users.noreply.github.mit.edu>

Waly Ndiaye <ndiayew@mit.edu> ndiayew <ndiayew@mit.edu>
Waly Ndiaye <ndiayew@mit.edu> wall-e24 <ndiayew@mit.edu>

Javier Solis <javsolis@mit.edu> javsolis <javsolis@mit.edu>
